@use 'variables';
@import './variables';
@mixin navDiv {
    background: white;
    width: 200px+100;
    border: $borderSize $borderStyle $color;
}
@function plus($x, $y){
    $z:$x+$y;
    @return $z;
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-transform: uppercase;
}
nav{
    @include navDiv();
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    // background: white;
    // width: 300px;
    // border: $borderSize $borderStyle variables.$color;
    a{
        text-decoration: none;
        margin: 0 30px;
        font: plus(2,3)*5px sans-serif;
        text-transform: uppercase;
        &:hover{
            color: forestgreen;
        }
    }
}
img{
    border-radius: 50%;
    transition: .5s;
    &:hover{
        transition: .5s;
        transform:rotate(360deg);
        /* width: 300px; */
    }
}
div{
    @include navDiv();
    // background: white;
    // width: 300px;
    // border: $borderSize $borderStyle $color;
}
.content{
    background: rgba(0, 128, 0, 0.4);
}
footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    background: yellowgreen;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
@media (max-width: 480px){
    *{
        font-size: 1em;
        /* background: yellow; */
    }
    /* body, header, div, .content, footer{
        background: yellow;
    } */
}
@media (min-width:769px){
    *{
        font-size:2vw;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 80px-40;
        align-items: center;
    }
}