*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-transform: uppercase;
}
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    background: white;
    width: 300px;
    border: 1px solid green;
}
img{
    transition: .5s;
}
img:hover{
    transition: .5s;
    transform:rotate(360deg);
    width: 300px;
}
/* h1{
    /* равно нижнему */
    /* animation: 3s infinite alternate slidein; */
    /* Время выполнение */
    animation-duration: 3s;
    /* название анимации */
    animation-name: slidein;
    /* Количество Итерации */
    animation-iteration-count: infinite;
    /* Направление анимации */
    animation-direction: alternate;
  
    /* If several values */
    /* animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 2.5s, 5s, 1s;
    animation-iteration-count: 2, 1, 5; */
    /* По очереди */
    /* animation-duration: 2.5s, 5s;
    animation-iteration-count: 2, 1; */
  /* } */
  /* @keyframes slidein { */
    /* From 0% of animation, start of animation */
    from {
      /* margin-left: 0; */
      /* width: 100%; */
    }
    /* 75% {
      font-size: 100%;
      margin-left: 25%;
      width: 100%;
    } */
    /* To 100% of animation, end of animation */
    to {
      /* margin-left: 0%; */
      /* width: 100%; */
      transform: rotate(360deg);
  
    }
  /* } */ */
div{
    background: white;
    width: 300px;
    border: 1px solid green;
}
img{
    border-radius: 50%;
}
#menu a{
    text-decoration: none;
    margin: 0 30px;
    font: 25px sans-serif;
    text-transform: uppercase;
}
#menu a:hover{
    color: forestgreen;
}
.content{
    background: rgba(0, 128, 0, 0.4);
}
footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    background: yellowgreen;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
@media (max-width: 500px){
    *{
        font-size: 12px;
        background: yellow;
    }
    body, header, div, .content, footer{
        background: yellow;
    }
}